<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fivetrue.commonsdk" >

    <application>
        <service
            android:name=".service.MORTDeviceMonitorService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".service.MORTDeviceControlService"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
